.DS_Store
__pycache__/draw_song_length_bar.cpython-313.pyc
__pycache__/get_files.cpython-313.pyc
__pycache__/get_metadata.cpython-313.pyc
__pycache__/input_handler.cpython-313.pyc
__pycache__/queue_handler.cpython-313.pyc
__pycache__/Song_Bar.cpython-313.pyc
__pycache__/wave_renderer.cpython-313.pyc
assets/default_cover.jpg
assets/default_cover.jpg
temp_cover_art/temp_cover.png
__pycache__/volume_worker.cpython-313.pyc
main_cover_art/About 10 Hours of Mental Deterioration_cover.png
main_cover_art/BIDE MY TIME | Murder Drones UST_cover.png
main_cover_art/059. Spider Dance (UNDERTALE Soundtrack) - Toby Fox_cover.png
run.command
temp_cover.png
temp_cover_art/default_cover.jpg
temp_cover_art/temp_cover.png
